:root {

    --clr-primary-400: hsl(158, 36%, 37%);
    --clr-primary-700: hsl(159, 36%, 17%);
    --bg-color: hsl(30, 38%, 92%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-300: hsl(228, 12%, 48%);
    --clr-neutral-700: hsl(212, 21%, 14%);
    --clr-neutral-900: hsl(0, 0%, 0%);

    --fw-500: 500;
    --fw-700: 700;

}

html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

body {
    align-items: center;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-weight: var(--fw-500);
    justify-content: center;
    min-height: 100vh;
}

.page {
    background-color: var(--clr-neutral-100);
    border-radius: 0.625rem;
    display: flex;
    flex-direction: column;
    width: 21.4375rem;
}

.hero {
    background: url(images/image-product-mobile.jpg);
    background-size: cover;
    border-radius: 0.625rem 0.625rem 0 0;
    height: 15rem;
    width: 21.4375rem;
}

.product {
    padding: 1.4375rem 1.5rem 1.5rem 1.5rem;
}

.product__category {
    color: var(--clr-neutral-300);
    font-size: 0.8125rem;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
}

.product__title {
    color: var(--clr-neutral-700);
    font-family: "Fraunces", serif;
    font-size: 2rem;
    letter-spacing: -0.0625rem;
    line-height: 1;
    padding: 0.8125rem 0 0 0;
}

.product__desc {
    color: var(--clr-neutral-300);
    font-size: 0.8125rem;
    line-height: 1.75;
    padding: 0.9375rem 0 0 0;
}

.product__pricing {
    align-items: center;
    display: flex;
    padding: 2.8125rem 0 0 0;
}

.product__sale-price {
    color: var(--clr-primary-400);
    font-family: "Fraunces", serif;
    font-size: 2rem;
    letter-spacing: -0.0625rem;
}

.product__list-price {
    color: var(--clr-neutral-300);
    font-size: 0.8125rem;
    padding: 0 0 0 1.625rem;
    text-decoration: line-through;
}

.btn-rounded {
    background-color: var(--clr-primary-400);
    border: none;
    border-radius: 0.625rem;
    color: var(--clr-neutral-100);
    cursor: pointer;
    display: flex;
    font-size: 0.875rem;
    font-weight: var(--fw-700);
    justify-content: center;
    letter-spacing: 0rem;
    margin: 0.9375rem 0 0 0;
    padding: 0.9375rem 1.625rem 0.9375rem 1.625rem;
    transition: background-color 200ms;
}

.btn-rounded:hover {
    background-color: var(--clr-primary-700);
}

.btn-rounded::after {
    content: "";
    /* image here? */
}  

.icon-cart {
    padding: 0 0.4375rem 0 0;
}

@media screen and (min-width: 56.25rem) {
    
    .page {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 18.75rem 18.75rem;
        width: unset;
    }
    
    .hero {
        background: url(images/image-product-desktop.jpg);
        background-size: cover;
        border-radius: 0.625rem 0 0 0.625rem;
        grid-column-start: 1;
        height: 28.125rem;
        width: 18.75rem;
    }
    
    .product {
        background-color: var(--clr-neutral-100);
        border-radius: 0 0.625rem 0.625rem 0;
        grid-column-start: 2;
        padding: 1.9375rem 2rem 1.5rem 2rem;
    }
    
    .product__title {
        padding: 1.25rem 0 0 0;
    }
    
    .product__desc {
        font-size: 0.875rem;
        line-height: 1.7;
        padding: 1.375rem 0 0 0;
    }

    .product__pricing {
        padding: 1.5625rem 0 0 0;
    }

    .btn-rounded {
        margin: 1.625rem 0 0 0;
    }

}